name: CI
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 20
          cache: 'npm'
      - run: npm ci
      - run: npm run test
  e2e:
    name: 'e2e Tests - ${{ matrix.project }}'
    timeout-minutes: 60
    runs-on: ubuntu-latest
    container:
      image: mcr.microsoft.com/playwright:v1.37.0-jammy
    strategy:
      fail-fast: false
      matrix:
        project: [ "chromium", "Mobile Safari" ]
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-node@v3
      with:
        node-version: 20
        cache: 'npm'
    - name: Install dependencies
      run: npm ci
    - name: Install chromium
      if: matrix.project == 'chromium'
      run: npx playwright install chromium
    - name: Install Mobile Safari
      if: matrix.project == 'Mobile Safari'
      run: npx playwright install webkit
    - name: Run Playwright tests
      run: npx playwright test --project="${{ matrix.project }}"
      working-directory: site
    - uses: actions/upload-artifact@v3
      if: always()
      with:
        name: playwright-report-${{ matrix.project }}
        path: site/playwright-report/
        retention-days: 3
  hygiene:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 20
          cache: 'npm'
      - run: npm ci
      - run: npm run hygiene
